<div side-bar-content>
    <div barControl class="d-flex flex-column h-100">
        <button class="active" sidebarButton button target="#sound-list">
            <i class="bi-music-note-list"></i>
        </button>
        <button sidebarButton button target="#windows">
            <i class="bi bi-grid-fill"></i>
        </button>
    </div>
    <div barContent id="sound-list" style="display: flex;" >
        <app-sound-list></app-sound-list>
    </div>
    <div barContent id="windows">
    </div>
</div>