<div track-panel-content>
    <div header>
        <div trackPanelHeader>
            <i playButton class="bi-play-fill mr-2"></i>
            <i pauseButton class="bi-pause-fill mr-4"></i>
            <span class="noselect" counter></span>
        </div>
        <div class="d-flex flex-row">
            <div controlsHeader>
                <button class="noselect" addTrackButton type="button">
                    <i class="bi-plus"></i> New Track
                </button>
            </div>
            <div tracksHeader>
                <span needleHead></span>
                <div timeline>
                </div>
            </div>
        </div>
    </div>
    <div body>
        <div controls>
            
        </div>
        <div tracks>
            <span needleBody></span>
        </div>
    </div>
    <div footer>
        
        <span class="noselect" mousePosition></span>
    </div>
</div>