app-side-bar{
    @import "./side-bar/side-bar-component.scss";
}

app-track-panel{
    @import "./track-panel/track-panel-component.scss";
    width: calc(100% - 300px);
}

[root-content]{
    display: flex;
    height:100vh;
    width:100%;
}